
#canvas {
  border-radius: 1px;
  border-color: rgb(199, 199, 199);
  border-style: solid;
}

#canvas-and-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tools-and-eraser {
  width: 70%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

#tool-bar-div {
  
  width: 500px;
  height: 70px;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#brushes {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

#colors {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: blueviolet; */

}

.color-buttons {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 2px;
} 

.brush-buttons {
  width: 25px;
  height: 25px;
}

.brush-buttons:hover {
  opacity: .7;
  transition: .2s;
  cursor: pointer;
  
}



#erase-button {
appearance: none;
background-color: #FAFBFC;
border: 1px solid rgba(27, 31, 35, 0.15);
border-radius: 6px;
box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
box-sizing: border-box;
color: #24292E;
cursor: pointer;
display: inline-block;
font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
font-size: 14px;
font-weight: 500;
line-height: 20px;
list-style: none;
padding: 6px 16px;
transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
word-wrap: break-word;
}

#erase-button:hover {
background-color: #F3F4F6;
text-decoration: none;
transition-duration: 0.1s;
}

#erase-button:disabled {
background-color: #FAFBFC;
border-color: rgba(27, 31, 35, 0.15);
color: #959DA5;
cursor: default;
}

#erase-button:active {
background-color: #EDEFF2;
box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
transition: none 0s;
}

#erase-button:focus {
outline: 1px transparent;
}

#erase-button:before {
display: none;
}

#erase-button:-webkit-details-marker {
display: none;
}

 #rainbow-button {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red); 
    
 }


 #sketch-picker {
  position: absolute;
  width: 150px;
  left: 50vw;
  bottom: -30px;
 }


 