

#canvas-and-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#tool-bar-div {
  margin-top: 30px;
  width: 500px;
  height: 70px;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#brushes {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

#colors {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: blueviolet; */

}

.color-buttons {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 2px;
} 

.brush-buttons {
  width: 25px;
  height: 25px;

}