
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#my-drawings-container {
    max-width: 900px;
    min-height: 550px;
    padding-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80vw;
    height: 80vh;
}

.thumbnail-container {
    display: flex;
    /* position: relative; */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    width: 250px;
    height: 125px;
    margin: 3px;
}



#image-container img {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    filter: drop-shadow(0 0 0.3rem rgb(221, 221, 221));
}



#canvas-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 125px;
    margin: auto;
    font-size: small;
    text-align: center;
    transition: .5s ease-in-out;
    opacity: 0;
    position: absolute;
    /* top: -100%; 
    left: 0%; */
    background-color: rgba(255, 255, 255, 0.7);
}


.drawing-name-button {
    color: rgb(36, 36, 36);
}






#canvas-name:hover {
    opacity: 1;
}


#canvas-name > * {
    transform: translateY(20px);
    transition: transform 0.25s
}

#canvas-name:hover > * {
    transform: translateY(0);
    cursor: pointer;
    
}