
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#my-drawings-container {
    background-color: white;
    display: flex;
    width: 80vw;
    height: 80vh;
}
