#home-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    height: 100vh;
    width: calc(100vw - 70px);
    margin-left: 70px;
    margin-top: 70px;
}



.color-buttons:hover {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    cursor: pointer;

}

#collab-div {
    display: flex;
    margin-top: 20%;
    margin-left: 20%;
    justify-self: flex-end;
    align-self: flex-start;
    width: 200px;
    height: 50px;
}

/* .vl {
    border-left: 1px solid rgb(138, 138, 138);
    height: 40px;
    align-self: center;
  }
  */

#canvas-title-div {
    display: flex;
    flex-direction: column;
    /* margin-top: -20%; */
    margin-left: 20%;
    justify-self: flex-end;
    align-self: flex-start;
    width: 200px;
    height: 50px;
    background-color: whitesmoke;
}

#title-and-collab-div {
    /* justify-self: flex-end; */
    border-radius: 10px;
    margin-left: 20px;
    background-color: whitesmoke;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

#canvas-change-name {
    margin-top: 15px;
}

#canvas-change-name input{
    height: 40px;
    width: 170px;
    border-radius: 3px;
    border-style: solid;
    border-color: grey;
}

#title-only {
    margin-top: 20px;
    font-size: larger;
    font-weight: 500;
    text-transform: capitalize;
}