
#nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 50;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    width: 70px;
}

#nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    /* background-color: magenta; */
}

.nav-buttons > * {
    border-style: none;
}

.nav-buttons > * {
    border-style: none;
}


#draw-button {
    background-color: white;
    background-size: cover;
    background-image: url("../icons/pencilstatic.jpg");
    width: 50px;
    height: 50px;
}

#draw-button:hover {
    background-image: url("../icons/pencil.gif");
}

#pictures-button {
    background-color: white;
    background-size: cover;
    background-image: url("../icons/pictures.jpg");
    width: 50px;
    height: 50px;
}

#pictures-button:hover {
    background-image: url("../icons/pictures.gif");
}

