
#nav-container {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

.nav-buttons > * {
    border-style: none;
}

.nav-buttons > * {
    border-style: none;
}


#draw-button {
    background-color: white;
    background-size: cover;
    background-image: url("../icons/pencilstatic.jpg");
    width: 50px;
    height: 50px;
}

#draw-button:hover {
    background-image: url("../icons/pencil.gif");
}

#pictures-button {
    background-color: white;
    background-size: cover;
    background-image: url("../icons/pictures.jpg");
    width: 50px;
    height: 50px;
}

#pictures-button:hover {
    background-image: url("../icons/pictures.gif");
}

#sign-in-button {
    position: absolute;
    right: 20px

}

#sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sign-in-form > * {
    margin-top: 10px;
    margin-bottom: 10px;
}


#sign-in-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

#sign-in-button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

#sign-in-button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

#sign-in-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

#sign-in-button:focus {
  outline: 1px transparent;
}

#sign-in-button:before {
  display: none;
}

#sign-in-button:-webkit-details-marker {
  display: none;
}